<main class="contenedor">
    <form class="default-form" action="/reestablecer-password" method="POST">
        <div class="campo">
            <label>Nuevo Password</label>
            <input type="password" name="password" placeholder="Nuevo Password">
        </div>
        <div class="campo">
            <input type="submit" value="Guardar password" class="btn btn-azul">
        </div>
    </form> 
</main>