<main class="contenedor">
    <form class="default-form" action="/reestablecer-password" method="POST">
        <div class="campo">
            <label>Email</label>
            <input type="email" name="email" placeholder="Tu Email">
        </div>
        <div class="campo acciones">
            <a href="/crear-cuenta">Crea una cuenta</a>
            <a href="/iniciar-sesion">Iniciar sesión</a>
        </div>
        <div class="campo">
            <input type="submit" value="Reestablecer password" class="btn btn-verde">
        </div>
    </form> 
</main>